@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Quicksand:wght@600&display=swap');

*{

margin: 0px;
padding: 0px;
box-sizing: border-box;


}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #34383b;
    color: white;

}
.navigation {
  
    background-color: #1e2022;
    color:white;
    list-style: none;
    display: flex;
    gap:30px;
  
    margin: 0px;
   font-size: 18px;
    padding:18px ;
    position: sticky;
    top: 0px;
   
}
.logo {
 margin-left: 5rem;

}

.navigation li+li:hover{


  text-decoration: underline;

}


#home {

margin-left:700px;


}

/*header*/
.header {
 display: flex;
 background-image: url(desmumtz11.jpg);
 background-color: #52616b;


 color:white;
align-items: center;
 justify-content: center;

}
h4{

    font-family:  'Lora', serif;

}
.text{

display: flex;
flex-direction: column;
gap: 30px;
 text-align: center;
padding: 2px;


}
.text>p{

width: 70vw;

margin-left: 55px;

}

 #visit{
 font-size: 104px;
 margin: 0px;

}
.text>div{

display: flex;

justify-content:center;
font-weight: 600;
gap: 35px;




}

.text div>button:last-child {

border: solid  #1F53B9 2px;
width: 150px;
height:40px ;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.text div>button:last-child:hover{

    background-color: #1F53B9; 
}

.extraInfo {
    max-width: 70%;
  
    margin-left:10px;


}

 #button {

 color:white;
 background-color: #1F53B9;
width: 150px;
height:40px ;
border: none;
font-size: 16px;

font-weight: 600px;


}
#button:hover{

    background-color: transparent;
    color:white;
    border:#1F53B9 solid 2px ;
    border-radius: 3px;
    


}

.header{

height: 95vh;

}

/*scaling numbers */
.numbers {

 display:flex;
 justify-content: space-around;
 list-style: none;
 font-size: 24px;
 background-color: #142D43;
 color:white;
 width:60vw;
 padding: 2rem;
border-radius: 7px


}

body>div:nth-of-type(2){

display: flex;
justify-content: center;

margin: -60px 0px 20px 0px;


}
#about {
 text-align: center;
 font-size: 24px;

 width:72vw;
}

.additionalInformation {
 display: flex;


gap: 30px;
flex-direction: column;

padding-left: 15vw;

margin-bottom: 30px;

}
.statements{
display: flex;

gap: 30px;
width: 72vw;



}
.statements div{

    display: flex;
    flex-direction: column;

gap: 13px;

width: 600px;


}
.statements div>button{


width: 110px;
height: 40px;
background-color: #1F53B9;
color: white;
border-radius: 3px;
border: none;

}
.statements div>button:hover{

box-shadow: 3px 0px 31px #1F53B9;


}
#additionalPhoto {
    width:310px;
    height:440px;
    
   
   border-radius: 30px;
   
  
   


}

.mission p {
max-width:80%;


}
.vision p {

    max-width:80%;
}

.mission button {

border:solid black 2px;
border-radius:12px;

}
.master{
 display: flex;
justify-content: space-around;
background-color: #dde3e8;
padding: 30px;

}

.card {
 background-color: #ffff;

height: 350px;
width: 310px;


}

.card p {
 margin-left: 20px;
 font-style: normal;


}

.card button {

    border:solid black 2px;
    border-radius:12px;
 margin-left: 200px;
}


.heading {

text-align: center;
margin-top: 7rem;
}

.reviews {
  display: flex;
  margin-left:53px;


}

.reviews img {
 
    border-radius: 13px;
    
    height: 450px;
    width: 410px;
    margin-right: 78px;

}

.statements p {
    max-width: 80%;
 


}
.second {
 max-width:38%;

}

#credits {

  background-color: #2f4550;
  text-decoration: none;
color:white;
text-align: center;
margin-bottom: -3rem;

padding: 10px;
width:34remx ;
height: 20px;
}

