@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{

margin: 0px;
padding: 0px;
box-sizing: border-box;


}

body {
    font-family: 'Quicksand', sans-serif;


}
.navigation {
  
    background-color: #1e2022;
    color:white;
    list-style: none;
    display: flex;
    gap:30px;
  
    margin: 0px;
   font-size: 18px;
    padding:18px ;
    position: sticky;
    top: 0px;
   
}
.logo {
 margin-left: 5rem;

}

.navigation li+li:hover{


  text-decoration: underline;

}


#home {

margin-left:700px;


}

/*header*/
.header {
 display: flex;
 background-image: url(/AfricaLandingpage/img/desmumtz11.jpg);
 background-color: #52616b;
 padding-bottom:70px ;
 color:white;

}

.text{
 margin:6rem 0rem 0rem 6rem;

display: flex;
flex-direction: column;
gap: 30px;
 text-align: left;
padding: 2px;

}
.text>p{

width: 50vw;

}
h3{
margin:0px ;

}
 #visit{
 font-size: 72px;
 margin: 0px;

}

.extraInfo {
    max-width: 70%;
  
    margin-left:10px;


}

 #button {

 color:white;
 background-color: #1F53B9;
width: 150px;
height:40px ;
border: none;
font-size: 16px;

font-weight: 600px;


}
#button:hover{

    background-color: white;
    color:black
    


}

.header{

height: 95vh;

}

/*scaling numbers */
.numbers {

 display:flex;
 justify-content: space-around;
 list-style: none;
 font-size: 24px;
 background-color: #142D43;
 color:white;
 width:60vw;
 padding: 2rem;
border-radius: 7px


}

body>div:nth-of-type(2){

display: flex;
justify-content: center;

margin: -60px 0px 20px 0px;


}
#about {
 text-align: center;
 font-size: 24px;
}

.additionalInformation {
 display: flex;
justify-content: center;
flex-direction: column;
border: solid red 3px;
padding: 60px;


}
.statements{
display: flex;
border: 3px solid red;
justify-content: space-evenly;
align-content: space-evenly;


}
#additionalPhoto {
    width:400px;
    height:330px;
    margin-right:18rem;
   
   border-radius: 30px;
   border: 45px;
   margin-bottom: 45px;
   


}

.mission p {
max-width:80%;


}
.vision p {

    max-width:80%;
}

.mission button {

border:solid black 2px;
border-radius:12px;

}
.master{
 display: flex;
justify-content: space-around;
background-color: #dde3e8;
padding: 30px;

}

.card {
 background-color: #ffff;

height: 350px;
width: 310px;


}

.card p {
 margin-left: 20px;
 font-style: normal;


}

.card button {

    border:solid black 2px;
    border-radius:12px;
 margin-left: 200px;
}


.heading {

text-align: center;
margin-top: 7rem;
}

.reviews {
  display: flex;
  margin-left:53px;


}

.reviews img {
 
    border-radius: 13px;
    
    height: 450px;
    width: 410px;
    margin-right: 78px;

}

.statements p {
    max-width: 80%;
 


}
.second {
 max-width:38%;

}

#credits {

  background-color: #2f4550;
  text-decoration: none;
color:white;
text-align: center;
margin-bottom: -3rem;

padding: 10px;
width:34remx ;
height: 20px;
}

